{
	"username": "ITUNES_CONNECT_USERNAME",
	"password": "ITUNES_CONNECT_PASSWORD",
	"app_id": "APP_ID",
	"version": "1.0.0",
	"app_store_image_base_names": ["3.5", "4", "4.7", "5.5", "iPad", "iPadPro"],
	"upload_app_store_screenshots": true,
	"generate_app_store_xml": true,
	"generate_iap_xml": true,
	"generate_achievements_xml": true,
	"generate_leaderboards_xml": true,
	"dry_run": false,
	"clean_after_submit": false
}
